.color-primary {
    color: white;
    background-color: rgb(36, 36, 71);
}

.mt-top-menu {
    margin-top: 5rem;
}

.bg-grays {
    background-image: url("../img/city.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.color-primary a:link {
    color: white !important;
    background-color: transparent;
    text-decoration: none;
}

.dropdown-menu a:link {
    color: black !important;
    background-color: transparent;
    text-decoration: none;
}

.bg-orange {
    background-color: orange;
}

.box-register {
    background-color: #eef1f7;
}


/* body {
    background-image: url("../img/city.png");
} */